<div class="table-responsive">
 <table class="table  table-nowrap ">
     <thead class="thead-dark">
         <tr>
             <th scope="col"><b>Id</b></th>
             <th scope="col"><b>Name</b></th>
             <th scope="col"><b>Date</b></th>
             <th></th>
         </tr>
     </thead>
     <tbody>
   <tr>
    <td>1</td>
    <td> <b>File 1</b>  </td>
    <td>17/22/2002</td>
    <td><app-bouton-open></app-bouton-open></td>
</tr>
      <tr>
       <td>2</td>
       <td> <b>File 2</b>   </td>
       <td>17/22/2002</td>
       <td><app-bouton-open></app-bouton-open></td>
   </tr>
      <tr>
       <td>3</td>
    <td> <b>File 3</b>   </td>
    <td>17/22/2002</td>
    <td><app-bouton-open></app-bouton-open></td>
   </tr>
      <tr>
       <td>4</td>
       <td> <b>File 4</b>   </td>
       <td>17/22/2002</td>
       <td><app-bouton-open></app-bouton-open></td>
   </tr>
  </tbody>
</table>
</div>