<div class="container">
 <main class="card ">
<ul >
<ul ngbNav #nav="ngbNav"  [destroyOnHide]="false" class="nav nav-tabs mt-4 overflow-x border-0">
 <li [ngbNavItem]="1" [destroyOnHide]="true">
  <a ngbNavLink>Loi</a>
  <ng-template ngbNavContent>
   
   
   <app-page-category-file></app-page-category-file>
  
  </ng-template>
 </li>
 <li [ngbNavItem]="2">
  <a ngbNavLink>Décrets</a>
  <ng-template ngbNavContent>
  
<app-page-category-file></app-page-category-file>
  </ng-template>
 </li>
 <li [ngbNavItem]="3">
  <a ngbNavLink>Arrêtés</a>
  <ng-template ngbNavContent let-active>
<app-page-category-file></app-page-category-file>
  </ng-template>
 </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>           
</ul>
    </main>
</div>