<div class="records table-responsive">
 <!-- <div class="record-header">
     <div class="font-weight-bold">
         <span>Dernier Tickets</span>
     </div>
     <div class="browse">
        <input type="search" placeholder="Search" class="record-search">
         <select name="" id="">
             <option value="">Status</option>
         </select>
     </div>
 </div> -->
 <div>	 <table width="100%">
  <thead>
      <tr>
       <th><span class="col"></span> id</th>
       <th><span class="col"></span> Ticket</th>
          <th><span class="col"></span> Priority</th>
          <th><span class="col"></span> Category</th>
          <th><span class="col"></span> Date</th>
          <th><span class="col"></span> Action</th>
      </tr>
  </thead>
		
	<tbody>
		<tr *ngFor="let country of countries; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ country.nameticket }}
			</td>
			<td>{{ country.priority }}</td>
			<td>{{ country.category }}</td>
			<td>{{ country.date }}</td>
<td><app-bouton-open>
</app-bouton-open>
<app-bouton-close-ticket></app-bouton-close-ticket></td>
		</tr>
	</tbody>
</table> 
</div>
</div>