<div class="card shadow border-0">
 <div class="card-body">
     <div class="row">
         <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">
            <a class="text-heading font-semibold" [routerLink]="['/expert/page-category']"><b>Category</b></a></span> <span class="h3 font-bold mb-0">50</span> </div>
         <div class="col-auto">
            <img src="https://st.depositphotos.com/1005563/4164/i/600/depositphotos_41649239-stock-photo-legal-system.jpg" class="avatar avatar-sm rounded-circle me-2"/> </div>
     </div>
 </div>
</div>