<div class="card shadow border-0 mb-7">
 <div class="card-header">
     <h5 class="mb-0">Tickets</h5>
 </div>
 <div class="table-responsive">
     <table class="table table-hover table-nowrap">
         <thead class="thead-light">
             <tr>
                 <th scope="col">Name</th>
                 <th scope="col">Date</th>
                 <th scope="col">Category</th>
                 <th scope="col">Offer</th>
                 <th scope="col">Type</th>
                 <th></th>
             </tr>
         </thead>
         <tbody>
            <tr>
                <td><a class="text-heading font-semibold" href="#"> Ticket 1 </a> </td>
                <td> Feb 15, 2021 </td>
                <td class="text-heading font-semibold">juridique</td>
                <td>5000DT </td>
                <td> <span class="text-heading font-semibold"> urgent                        
                            </span> </td>
                <td class="text-end"><app-reponse></app-reponse> 
                   <app-bouton-close></app-bouton-close> </td>
            </tr>             <tr>
                 <td><a class="text-heading font-semibold" href="#"> Ticket 2 </a> </td>
                 <td> Feb 15, 2021 </td>
                 <td class="text-heading font-semibold">juridique</td>
                 <td>5000DT </td>
                 <td> <span class="text-heading font-semibold"> urgent                        
                             </span> </td>
                 <td class="text-end"><app-reponse></app-reponse> 
                    <app-bouton-close></app-bouton-close> </td>
             </tr>
             <tr>
                 <td><a class="text-heading font-semibold" href="#"> Ticket 3 </a> </td>
                 <td> Feb 15, 2021 </td>
                 <td class="text-heading font-semibold"> juridique</td>
                 <td> 3.500DT </td>
                 <td> <span class="text-heading font-semibold"> normale </span> </td>
                 <td class="text-end"> <app-reponse></app-reponse>
                      <app-bouton-close></app-bouton-close> </td>
             </tr>
             <tr>
                 <td><a class="text-heading font-semibold" href="#"> Ticket 4 </a> </td>
                 <td> Feb 15, 2021 </td>
                 <td class="text-heading font-semibold"> juridique</td>
                 <td> 3.500DT </td>
                 <td> <span class="text-heading font-semibold"> normale </span> </td>
                 <td class="text-end"> <app-reponse></app-reponse> 
                    <app-bouton-close></app-bouton-close></td>
             </tr>
         </tbody>
        
     </table>
     
 </div>
 <div><a class="d-flex align-items-end flex-column mt-auto p-1"><i class="bi bi-arrow-right-circle"></i>
 </a></div>
</div>