<!-- <div class="h-screen flex-grow-1 overflow-y-lg-auto"> -->
    <!-- Header -->
    <!-- <app-header></app-header> -->
    <!-- Main -->
     <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="row g-6 mb-6">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Juridique</span> <span class="h3 font-bold mb-0">50</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i class="bi bi-bank2"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Social</span> <span class="h3 font-bold mb-0">60</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i class="bi bi-people"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Fiscal</span> <span class="h3 font-bold mb-0">70</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i class="bi bi-bank"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Droit</span> <span class="h3 font-bold mb-0">100</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i class="bi bi-archive"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-home-list-ticket></app-home-list-ticket>
        </div>
       </main> 
<!-- </div> -->

