<!-- <div class="h-screen flex-grow-1 overflow-y-lg-auto"> -->
    <!-- Header -->
    <!-- <app-header></app-header> -->
    <!-- Main -->
     <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <div class="row g-6 mb-6">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <app-list-category></app-list-category>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <app-list-category></app-list-category>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <app-list-category></app-list-category>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <app-list-category></app-list-category>
                </div>
            </div>
            <app-home-list-ticket></app-home-list-ticket>
            <!-- <app-files></app-files> -->
        </div>
       </main> 
<!-- </div> -->

