
<main class="py-6 bg-surface-secondary">
 <div class="container-fluid">
    
         <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">New File</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">taille</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="text-heading font-semibold" href="#"> file 1 </a> </td>
                            <td> Feb 15, 2021 </td>
                            <td class="text-heading font-semibold"> juridique </td>
                            <td> 2Mg </td>
                            <td class="text-end"> 
                                <a href="#" class="btn btn-sm btn-neutral">open</a> 
                                </td>
                        </tr>
                        <tr>
                            <td><a class="text-heading font-semibold" href="#"> file 2 </a> </td>
                            <td> Feb 15, 2021 </td>
                            <td class="text-heading font-semibold">juridique</td>
                            <td>2Mg </td>
                            
                            <td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">open</a> 
                                 </td>
                        </tr>
                        <tr>
                            <td><a class="text-heading font-semibold" href="#"> file 3 </a> </td>
                            <td> Feb 15, 2021 </td>
                            <td class="text-heading font-semibold"> juridique</td>
                            <td> 2Mg </td>
                            <td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">open</a>
                                  </td>
                        </tr>
                        <tr>
                            <td><a class="text-heading font-semibold" href="#"> file 4 </a> </td>
                            <td> Feb 15, 2021 </td>
                            <td class="text-heading font-semibold"> juridique</td>
                            <td> 2Mg </td>
                            <td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">open</a> 
                                 </td>
                        </tr>
                        <tr>
                           <td><a class="text-heading font-semibold" href="#"> file 5 </a> </td>
                           <td> Feb 15, 2021 </td>
                           <td class="text-heading font-semibold"> juridique</td>
                           <td> 2Mg </td>
                           <td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">open</a> 
                                </td>
                       </tr>
                       <tr>
                           <td><a class="text-heading font-semibold" href="#"> file 6 </a> </td>
                           <td> Feb 15, 2021 </td>
                           <td class="text-heading font-semibold"> juridique</td>
                           <td> 2Mg </td>
                           <td class="text-end"> <a href="#" class="btn btn-sm btn-neutral">open</a> 
                                </td>
                       </tr>
                    </tbody>
                   
                </table>
                
            </div>
            <!-- <div><a class="d-flex align-items-end flex-column mt-auto p-1"><i class="bi bi-arrow-right-circle"></i>
            </a></div> -->
            
        </div>
         <app-bouton-suivant></app-bouton-suivant>
      
        </div>
   </main> 

