<nav class="nav flex-column nav-pills">
 <a class="nav-link"  [routerLink]="['/expert/article/juridique']">Juridique</a>
 <a class="nav-link" [routerLink]="['/expert/article/social']">social</a>
 <a class="nav-link" [routerLink]="['/expert/article/fiscal']">fiscal</a>
 <!-- <a class="nav-link" href="#">Tools, equipments</a>
 <a class="nav-link" href="#">Sports and outdoor</a>
 <a class="nav-link" href="#">Animal and pets</a>
 <a class="nav-link" href="#">Machinery tools</a>
 <a class="nav-link" href="#">Other products</a> -->
</nav>
<!-- [routerLink]="['/expert/list-article']" -->
