<!-- home -->
<li class="nav-item"> <a class="nav-link" [routerLink]="['/']"> <i class="bi bi-house"></i>
Home
 <span class="badge bg-soft-primary text-primary rounded-pill  ms-auto">+10</span> </a>  </li>  
 <!-- ticket -->
<li class="nav-item"> <a class="nav-link" [routerLink]="['/expert/fullticket']"> <i class="bi bi-stickies"></i>
 Ticket 
 <span class="badge bg-soft-primary text-primary rounded-pill  ms-auto">+10</span> </a>  </li>           
 <!-- file -->
 <li class="nav-item"> <a class="nav-link" [routerLink]="['/expert/fullfile']">   <i class="bi bi-card-list"></i>
 File 
  <span class="badge bg-soft-primary text-primary rounded-pill  ms-auto">+10</span> </a>  </li>  
<!-- message -->
<!-- <li class="nav-item"> <a class="nav-link" [routerLink]="['/expert/message']"><i class="bi bi-chat"></i>Message 
 <span class="badge bg-soft-primary text-primary rounded-pill  ms-auto">+10</span> </a>  </li>   -->



<!-- 
   <i class="bi bi-card-list"></i>
   <i class="bi bi-chat"></i>
   <i class="bi bi-house"></i> -->